<!-- src/app/footer/footer.component.html -->
<footer class="mega-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Connect with Us</h4>
                <br>
                <a href="https://instagram.com/latif.saba?igshid=MzMyNGUyNmU2YQ==" class="social-icons"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/sabach.sabach.7?mibextid=ZbWKwL" class="social-icons"><i class="fab fa-facebook-f"></i></a>
                <a href="https://x.com/Lat58020584Saba?t=884FMHhpV2ask27lDyJPEw&s=09" class="social-icons"><i class="fab fa-twitter"></i></a>
                <a href="https://pk.linkedin.com/in/saba-latif-417984278" class="social-icons"><i class="fab fa-linkedin-in"></i></a>
            </div>
            
            <div class="col-md-4">
                <h4>Latest Blogs</h4>
                <p class="blogs">Explore our latest blogs for interesting reads</p>
                <a routerLink="/blogs" class="btn btn-outline-light">View Blogs</a>
            </div>
           
        </div>
    </div>
    
</footer>

