.container-fluid {
    margin-bottom: 60px;
    max-width: 100vw;
  }
  
  .row {
    height: 100%;
  }
  
  .col-md-6 {
    padding: 10px;
  }
  
  img {
    max-width: 50%;
    height: auto;
  }
  
  .text-left {
    white-space: nowrap;
    overflow: hidden;
  }
  
  
  
 
  
  