<app-main-navbar></app-main-navbar>
<div  class="container-fluid text-center">
    <div class="row align-items-center">
      <div style="margin-top: 30px;" class="col-md-6 order-md-2">
        <!-- Image on the right side -->
        <img style="width: 60%; border-radius: 10%;" class="img-fluid" src="assets/profile.jpg" alt="Right Side Image">
      </div>
      <div class="col-md-6 order-md-1">
        <!-- Text on the left side with animation -->
        <h1 class="text-left">
          We Connect You with The 
        </h1> 
        <h1 style="color: brown; font-family:Agbalumo;" >
            World
           </h1><br><br>
           <h3>Let's start the journey</h3>
      </div>
    </div>
<br><br> <br>
    <div style="width:100% ; margin-top: 20px;" class="row align-items-center">
      <div class="col-md-6 order-md-2">
        <!-- Text on the left side with animation -->
        <h1 class="text-left">
          Weather Guide Through Out 
        </h1> 
        <h1 style="color: brown; font-family:Agbalumo;" >
            Journey
           </h1> <br><br>
           <button routerLink="/weather" class="btn btn-dark">Online Weather Check</button>
      </div>
      <div class="col-md-5 order-md-1">
        <!-- Image on the right side -->
        <img style="width: 60%; border-radius: 10%;" class="img-fluid" src="assets/students.jpg" alt="Right Side Image">
      </div>
      
    </div>
  </div>
